.ui.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.inline.fields .header {
    width: 250px !important;
}

.separa {
    margin-left: 120px;
}

.cust-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}
